{
  "DEFAULT": {
    "x": 1,
    "y": 2
  },
  "other": {
    "blah": "{{ things }}"
  },
  "ensuring replacements": {
    "replacements": "{{ things }}"
  },
  "list_op": {
    "shucks": [
      8000,
      8001
    ]
  }
}
