[global]
timeout = 60
index-url = http://mirror.iad.rax.openstack.org/pypi/simple
trusted-host = Thing1,Thing2
extra-index-url = http://mirror.iad.rax.openstack.org/wheel/ubuntu-14.04-x86_64
option = test1
option = test2
option = test3
